.task-form {
  background: white;
  padding: 40px;
  border-radius: 35px;
  border: 2px solid #e0e0e0;
}

.task-form label {
  font-size: 16px;
  color: #2d3436;
  padding-left: 10px;
}

.task-form input, 
.task-form textarea, 
.task-form select {
  border: 3px solid #f1f3f5;
  border-radius: 20px;
  padding: 15px;
  font-size: 18px;
  background: #f8f9fa;
}

.task-form input:focus {
  border-color: #4ecdc4;
  background: white;
}

.task-form button {
  background: #ff6b6b;
  border-radius: 20px;
  font-size: 18px;
  padding: 18px;
  box-shadow: 0 10px 0 #ee5253; 
  transition: all 0.1s;
  margin-left: 19px;
}

.task-form button:active {
  transform: translateY(4px);
  box-shadow: 0 5px 0 #ee5253;
}

