.layout-wrapper {
  background-color: #f7f9fc;
  background-image: radial-gradient(#d1d8e0 1px, transparent 1px);
  background-size: 30px 30px;
}

h1 {
  font-size: 2.5rem;
  color: #2d3436;
  border: none;
  text-align: center;
  margin-bottom: 40px;
}